# With thanks to https://blog.gitbutler.com/how-git-core-devs-configure-git/
[user]
	name = Christopher Menon
	email = 16004217+cmenon12@users.noreply.github.com
[commit]
	gpgsign = true
[column]
	ui = auto
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[clone]
	defaultRemoteName = upstream
[core]
	commentchat = ";"
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
[push]
	default = simple
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[filter "strip-notebook-output"]
	clean = "jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --ClearMetadataPreprocessor.preserve_nb_metadata_mask="language_info" --to=notebook --stdin --stdout --log-level=ERROR"
	smudge = "cat"
	required
